.left-sidebar {
  & { background: #2c2c2c; height: calc(100vh - 45px); width: 20vw; color: #fff; padding: 0 0 10px 0; box-sizing: border-box; }

  .left-sidebar-navigation {
    .nav-options {
      & { display: flex; justify-content: space-between; width: 100%; padding: 10px; box-sizing: border-box; }

      .search-option {
        & { display: flex; align-items: center; gap: 5px; }
        svg { font-size: 14px; cursor: pointer; }
        p { font-weight: 600; font-size: 10px; margin: 0; }
      }

      .close-option {
        svg { font-size: 14px; cursor: pointer; }
      }
    }
  }
}